<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/form.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
    <form action="/events/new/<%=index%>" method="POST">
        <div class="cointainer">
            <h1>New Event</h1>
            <hr>
            Title: <input type="text" name="title" /><br> <br>
            Location: <input type="text" name="location" /><br> <br>
            Start Date: <input type="date" name="startDate" /><br> <br>
            Start Time: <input type="time" name="startTime" /><br> <br>
            End Date: <input type="date" name="endDate" /><br> <br>
            End Time: <input type="time" name="endTime" /><br> <br>
            Time Zone: <input type="text" name="timeZone" /><br> <br>
        </div> 
        <div class="clearfix">
            <button type="submit">Add New Event</button>
        </div>     
    </form>        
</body>
</html>