<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Event</h1>
        <form action="/new.ejs" method="POST">
            Title: <input type="text" name="title" /><br> <br>
            Location: <input type="text" name="location" /><br> <br>
            Start Date: <input type="date" name="start date" /><br> <br>
            Start Time: <input type="time" name="start time" /><br> <br>
            End Date: <input type="date" name="end date" /><br> <br>
            End Time: <input type="time" name="end time" /><br> <br>
            Time Zone: <input type="text" name="time zone" /><br> <br>
        <input type="submit" value="Add New Event" />
        </form>
</body>
</html>