<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Calendar</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/users/signup">Sign Up</a></li>
			<li><a href="/users/login">Log In</a></li>
		</ul>
	</nav>
	</div>	 
	<div class="header">
	<h1>Welcome To My Calendar</h1>
	<h4>"Don't count the days, make the days count."</h4>
	<h5>- Muhammad Ali</h5>
	</div>
</body>
</html>