html {
   background: url("https://images.pexels.com/photos/106132/pexels-photo-106132.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
   height: 100%;
   background-position: center;
   background-size: cover; 
   font-family: "Raleway", sans-serif; 
}

body {
    font-size: xx-large;
    font-weight: bold;
}

li {
    margin: 0;
    padding: 10;
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;   
    color: white; 

}

