html {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgA6Ogx5nbD7fqQ4Zb9Y-ysmjol0iUC6ehCA&usqp=CAU");
    height: 100%;
    background-position: center;
    background-size: cover; 
    font-family: "Raleway", sans-serif; 
 }

 body {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(97, 89, 75);
 }

 button {
    background-color: #29c4cf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }

 a {
     text-decoration: none;
     color: yellow;
 }